<h1>Teste Bootstrap</h1>
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/homi.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Eu no ano de 2023!
        </p>
      </div>
    </div>
  </div> <!-- Fim da col-->

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="assets/img/e.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text"> O meu carro daqui 3 anos!
        </p>
      </div> <!-- Fim do card body-->
    </div> <!-- Fim do card-->
  </div> <!-- Fim da col-->
</div> <!-- Fim da row-->

<router-outlet></router-outlet>
